@* @model TModel *@

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Movies</title>
</head>
<body>
<div>
    <a href="/movies/top-revenue-movies">Top Revenue Movies</a>
    <br>
    <a href="/movies/top-rated-movies">Top Rated Movies</a>
    <br>
    <a href="/movies/genre/2">Movie Genre 2</a>
    <br>
    <a href="/movies/reviews/1">Movie Review 1</a>
</div>
</body>
</html>