@* @model TModel *@

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Top Revenue Movies</title>
</head>
<body>
<div>
      <h1>Top Revenue Movies</h1>
</div>
</body>
</html>