@* @model TModel *@

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Account Detail</title>
</head>
<body>
<div class="text-center">
    <h1>Account Details page</h1>      
</div>
</body>
</html>